.bodyBackground {
  background-color: #000511;
  color: white;
}

.paddingBox {
  padding: 0% 8% 0% 8%;
}
.paddingBox2 {
  padding: 6% 0% 0% 8%;
  /* overflow: hidden; */
}
.navBar {
  opacity: 1;
  padding: 1% 5%;
  background-color: #000511;
}

.metaContainer {
  margin: 10%;
}

.buidl {
  padding: 7%;
}

.respText {
  margin-top: 5%;
  text-align: start;
}
.glassCardHeading {
  font-size: 35px;
  text-align: left;
  font-weight: 600;
}
.cardGlass {
  position: relative;
  height: 500px;
  width: 95%;
  background: radial-gradient(
    farthest-corner at 90% 90%,
    #001765,
    rgb(11, 32, 73, 0.15)
  );
  border: 1px solid #246bfd;
  background-blend-mode: lighten;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
}
.iconCardGlass {
  position: relative;
  background: radial-gradient(
    farthest-corner at 63% 71%,
    rgba(62, 104, 211, 0.4),
    rgba(7, 71, 190, 0.066)
  );
  background-blend-mode: lighten;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2px;
}

.buidlCard {
  padding: 1rem !important;
  height: 7vw;
  width: 14vw;
  border-radius: 4px;
}

.buidlCardImg {
  width: 10vw;
}

.cardText {
  text-align: start;
  font-size: 1.3vw;
}
.footerList {
  justify-content: end;
}

/* Images */
.navImg {
  height: 35px;
}

.glassImg {
  width: 70px;
}

.outerCircle {
  position: relative;
  width: 180px;
  height: 180px;
}

.innerCircle {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin: -60px 0px 0px -60px;
  z-index: 3;
}

.circleImg {
  height: inherit;
}

.sideCircleIcon3 {
  width: 6vw;
  height: 6vw;
}

.sideCircleIcon2 {
  position: relative;
  width: 7vw;
  height: 7vw;
}

.sideCircleIcon1 {
  position: relative;
  width: 8vw;
  height: 8vw;
}

.sideImg1 {
  position: absolute;
  width: 6vw;
  height: 6vw;
}

.sideImg2 {
  position: absolute;
  width: 5.5vw;
  height: 5.5vw;
}

.sideImg3 {
  position: absolute;
  width: 5vw;
  height: 5vw;
}

.metaChat {
  width: 80%;
}

.chatBanner {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  overflow: hidden;
  /* border: 10px solid; */
  border-image-slice: 1;
  /* border-width: 2px; */
  border-radius: 30px;
  /* border-image-source: linear-gradient(
    141.09deg,
    rgba(53, 60, 84, 0.5) 11.08%,
    rgba(32, 108, 255, 0.38) 89.68%
  ); */
}

.footerImg {
  width: 4vw;
}

.footerIcons {
  width: 2vw;
}

/* Responsive Fonts */
.heading {
  font-weight: 700;
}

.subHeading {
  font-size: 2vw;
}
.glassText {
  font-size: 1.4vw;
  opacity: 0.8;
}
.fixBottomText {
  position: absolute;
  bottom: 0;
}
.sectionWorkspaceHeading{
  font-size: 34px;
}

.highlight {
  background: -webkit-linear-gradient(
    270deg,
    rgb(25, 124, 236),
    rgb(0, 74, 217)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ecosystemCardHeading {
  font-size: 30px;
  font-weight: 600;
}

.ecosystemCardPara {
  font-size: 20px;
}
.ecosystemCard{
  width: 45%;
}
.borderBox {
  border: 1px solid #246bfd;
  border-radius: 20px;
}
.sectionHeading {
  font-size: 72px;
}
.btn {
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-dark-blue {
  /* background: #7474BF;  fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(25, 124, 236),
    rgb(0, 74, 217)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(25, 124, 236),
    rgb(0, 74, 217)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border-radius: 14px;
}
.twitterLogo {
  height: 45px;
}

.hiring {
  color: #348ac7;
}

.subHeading {
  font-size: 36px;
  font-weight: 600;
}
.heroHeading {
  font-size: 116px;
  font-weight: 600;
  line-height: 100px;
}
.platform {
  background: linear-gradient(
    120deg,
    rgb(15, 38, 119),
    rgb(9, 45, 170),
    rgb(6, 58, 240)
  );
}
.sectionSpacing {
  margin-top: 110px;
}
.stripHeading {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}
.platformsubheading {
  font-size: 45px;
  font-weight: 600;
  text-align: left;
}
.platformCard {
  background: rgb(2, 10, 33, 0.8);
  width: 400px;
  border-radius: 10px;
}

.alignLeftText {
  text-align: left;
}
.brandLogo {
  height: 30px;
}
.fileLogo {
  height: 50px;
}
.ecoImage {
  height: 550px;
}
.cardHeading {
  font-weight: 600;
  font-size: 30px;
  text-align: left;
}

.cardDesc {
  font-size: 20px;
  text-align: left;
}

.cardHeading2 {
  font-weight: 600;
  font-size: 36px;
}

.cardDesc2 {
  font-size: 24px;
  text-align: left;
}
.divCard {
  width: 250px;
}
.socialCard {
  width: 370px;
  border-radius: 16px;
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  padding: 25px 30px;
}

.partners {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  overflow: hidden;
  border: 2px solid rgba(32, 108, 255, 0.38);
  /* border-image-slice: 1;
  border-width: 2px; */
  border-radius: 10px;
  padding: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  width:150px;
  /* border-image-source: linear-gradient(
    141.09deg,
    rgba(53, 60, 84, 0.5) 11.08%,
    rgba(32, 108, 255, 0.38) 89.68%
  ); */
}
.partnersBig {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  overflow: hidden;
  border: 2px solid rgba(32, 108, 255, 0.38);
  /* border-image-slice: 1;
  border-width: 2px; */
  border-radius: 16px;
  padding: 25px 20px;
  width:300px;
}
.partnersImg {
  height: 62px;
}
.partnersContainer{
  width:75%;
}
.bottomLinks {
  font-size: 32px;
  font-weight: 600;
}
.backgroundDarkCard {
  background-color: #00081a;
}

.buttonCard {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  overflow: hidden;
  border-image-slice: 1;
  border-radius: 10px;
  padding: 20px 30px;
  border: 1px solid rgba(32, 108, 255, 0.38);
}

.arrowDarkCard {
  height: 30px;
}
.LoginMetaMask {
  width: 100%;
}

.subSectionHeading {
  font-size: 30px;
  color: rgb(255, 255, 255, 0.7);
}

.backgroundDarkGradient {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
}
.backedByImg {
  width: 30vw;
}
.backedByDiv {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  overflow: hidden;
  border: 2px solid rgba(32, 108, 255, 0.38);
  border-radius: 16px;
  padding: 8px 25px;
}
.ecosystemImage {
  height: 425px;
}

.teamMembers {
  background: linear-gradient(
    120deg,
    rgba(13, 33, 71, 0.66),
    rgba(11, 32, 73, 0.15)
  );
  border: 1px solid rgba(32, 108, 255, 0.38);
  border-radius: 14px;
  padding: 10px;
  width:281px;
}

.teamMembersHeading {
  font-size: 22px;
  font-weight: 600;
}
.teamMembersSubHeading {
  font-weight: 600;
  font-size:18px;
  color: rgb(255, 255, 255, 0.7);
}
.heroPara {
  width: 60%;
  font-size: 24px;
  text-align: left;
}
.workspaceSuit {
  width: 190px;
}
.suitHeading {
  font-size: 32px;
  font-weight: 600;
  flex: 1;
  align-items: center;
}
.suitButton{
  background: linear-gradient(
    120deg,
    rgba(36, 59, 155),
    rgba(36, 59, 135,0%)
  );
  overflow: hidden;
  border-image-slice: 1;
  border-radius: 10px;
  /* margin-top:3px; */
  padding: 2px 4px;
  font-size: 12px;
  width:50px;
  /* border: 1px solid rgba(32, 108, 255, 0.38); */
}
.movePara{
  font-size:22px;
  width:60%;
}
.helpHeading{
  font-size: 48px;
  text-align: left;
  font-weight: 600;
}
.helpPara{
  font-size: 20px;
  /* font-weight: 600; */
  width:70%;
}
.navigationBold{
  font-weight:600;
}
.mobileHero{
  display: none;
}
.desktopHero{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottomSocialLinks{
  width:29%;
}
.footerText{
  font-size: 20px;
}
.chevron{
  width: 29px;
}
/* Media queries */
/* breakpoints to use
1) below 320px
2) below 768px and above 375px
3) above 1024px
*/
@media (max-width: 770px) {
  .respText div h1 strong {
    font-size: 50px;
  }
}

@media (max-width: 426px) {
  .heroHeading{
    font-size: 10px;
  }
  .respText {
    text-align: center;
  }

  .bodyBackground {
    padding: 0%;
  }

  .sideCircleIcon1,
  .sideCircleIcon2,
  .sideCircleIcon3 {
    width: 70px;
    height: 70px;
  }

  .sideImg1,
  .sideImg2,
  .sideImg3 {
    width: 55px;
    height: 55px;
  }

  .backedByImg {
    width: 38vw;
  }

  .buidlCard {
    height: 19vw;
    width: 37vw;
  }

  .buidlCardImg {
    width: 23vw;
  }

  .metaChat {
    width: 100%;
  }

  .navImg {
    width: 9vw;
  }
  .upperCol {
    margin-bottom: 15px;
  }
  .lowerCol {
    margin-top: 15px;
  }
  .cardText {
    text-align: start;
    font-size: 3.3vw;
  }
  .glassText {
    font-size: 3.4vw;
  }
  .footerList {
    width: 100%;
    justify-content: center;
    font-size: 11px;
  }
  .footerIcons,
  .footerImg {
    width: 6vw;
  }
  .footerName {
    font-size: 5vw;
  }
  .cardGlass {
  width: 100%;
}
}


@media screen and (max-width:576px) {
   .heroHeading{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  .mobileHero{
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .desktopHero{
    display:none;
  }
  .heroPara {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.bottomSocialLinks{
  width:100%;
}
.footerLogoMetaworks{
  width: 40%;
}
.footerText{
  font-size: 10px;
}
.hideOnMobile{
  display: none;
}
.helpHeading{
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
.helpPara{
  font-size: 16px;
  width:100%;
}
.partnersContainer{
  width:100%;
}
.ecosystemCard{
  width: 100%;
}
.paddingBox2 {
  padding: 4% 4% 4% 4%;
  /* overflow: hidden; */
}
.paddingBox {
  padding: 0% 4% 0% 4%;
}
.btn {
  font-size: 14px;
  font-weight: 600;
  padding-top: 7px;
  padding-bottom:7px;
}
.chevron{
  width: 20px;
}
.btn-dark-blue {
  border-radius: 10px;
}
.sectionSpacing{
  margin-top: 64px;
}
.stripHeading {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.stripImage{
  width:14px;
}
.stripsSection{
  width:100%;
}
.suitHeading {
  font-size: 26px;
  font-weight: 600;
  flex: 1;
  align-items: center;
}
.suitIcons{
  width: 48px;
}
.suitButton{
  border-radius: 10px;
  /* margin-top:3px; */
  padding: 2px 4px;
  font-size: 10px;
  width:50px;
  /* border: 1px solid rgba(32, 108, 255, 0.38); */
}
.workspaceSuit {
  width: 150px;
}
.borderBox { 
  border-radius: 16px;
}
.subHeading {
  font-size: 18px;
  font-weight: 600;
}
.movePara{
  font-size:14px;
  width:100%;
}
.glassCardHeading {
  font-size: 26px;
  text-align: left;
  font-weight: 600;
}
.cardGlass {
  position: relative;
  height: auto;
  
}
.cardHeading {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.divCard {
  width: 50%;
}
.navImg {
    width: 100%;
  }
}






.aboutPara{
  font-size: 30px;
}
